body {
  margin: 0;
  padding: 0;
  color: #303030 !important;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
