name: CORD-19 UI
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DEPLOY_TOKEN: ${{ secrets.CORD_19_DEPLOY }}
    
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 12
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: |
        cd "${GITHUB_WORKSPACE}"
        ls -la
        yarn install
        yarn build
        mv build ../build
        git config user.name  "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@verizonmedia.com"
        echo git checkout gh-pages
        git checkout gh-pages
        git pull
        echo after pull
        rm -rf !("CNAME"|"node_modules")
        mv ../build/* .
        rm -rf ../build
        git add .
        git commit -m "Publish to gh-pages branch $(date -Is)"
        git remote set-url origin "https://x-access-token:${DEPLOY_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
